doctype html
html
    head
        title= title
        link(href='/bootstrap.min.css', rel='stylesheet')
        link(href='/bootstrap-theme.min.css', rel='stylesheet')
        link(href='/stylesheet.css', rel='stylesheet')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/bootstrap.min.js')
        script(src='/shotgun/shotgun.client.js')
        script(src='/main.js')
    body
        div.container
            h2(style = "text-align: center;") Welcome to the shotgun web console example application!
            div.row
                div.col-lg-6
                    h3.green shell1:
                    div#shell1.console.green
                div.col-lg-6
                    h3.yellow shell2:
                    div#shell2.console.yellow
            div.row
                div.col-lg-6
                    h3.cyan shell3:
                    div#shell3.console.cyan
                div.col-lg-6
                    h3.red shell4:
                    div#shell4.console.red
